In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/FacebookRecruiting/train.zip
/kaggle/input/FacebookRecruiting/train.gz
/kaggle/input/FacebookRecruiting/random_benchmark.csv
/kaggle/input/FacebookRecruiting/train.csv
/kaggle/input/FacebookRecruiting/test.csv
/kaggle/input/FacebookRecruiting/bfs_benchmark.csv
/kaggle/input/FacebookRecruiting/train.7z

In [2]:
df = pd.read_csv('../input/FacebookRecruiting/train.csv')
print(df.shape)
df.head()

(9437519, 2)

   source_node  destination_node
0            1            690569
1            1            315892
2            1            189226
3            2            834328
4            2           1615927

In [3]:
databysource = df.groupby('source_node')
databysource.first()

             destination_node
source_node
1                      690569
2                      834328
3                      176995
4                        6271
5                     1646876
...                       ...
1862216                280466
1862217                391945
1862218                995936
1862219               1150552
1862220               1748794

[1587708 rows x 1 columns]